*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Microsoft Yahei"
}
.all{
	width: 1600px;
	height: 1052px;

}
.top {
	width: 1600px;
	height: 34px;
	background-color: #262626;
}
.top .s1{
	font-size: 15px;
	color: #ffffff;
	line-height: 34px;
	margin-left: 150px;
}
.top .a1{
	font-size: 11px;
	color: #ffffff;
	line-height: 34px;
	margin-left: 113px;
}
.top .a2{
	font-size: 11px;
	color: #ffffff;
	line-height: 34px;
	margin-left: 63px;
}
.top img{
	width: 18px;
	height: 18px;
	margin-left: 50px;

}
.mid{
	width: 1600px;
	height: 960px;
	background: url(./images/bg.png) no-repeat;
	position: relative;
}
.mid1{
	width: 108px;
	height: 35px;
	background-color: #cb00da;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;
	position: absolute;
	left: 508px;
	top: 95px;
}
.mid2{
	width: 572px;
	height: 194px;
	background-color: white;
	position: absolute;
	left: 508px;
	top: 129px;
}
.mid2 .p1{
	width: 160px;
	height: 21px;
	font-size: 16px;
	color: #3b3b3b;
	margin-top: 44px;
	margin-left: 7px;
	font-weight: bold;
}
.mid2 .p2{
	width: 491px;
	height: 18px;
	margin-top: 41px;
	margin-left: 7px;
}
.mid2 .i1{
	display: inline-block;
	background: url(./images/111.png) 0 0 no-repeat;
	width: 13px;
	height: 14px;
}
.mid2 .i2{
	display: inline-block;
	background: url(./images/111.png) 0 -20px; no-repeat;
	width: 11px;
	height: 19px;
	margin-left: 140px;
}
.mid2 .s1{
	font-size: 14px;
	color: #666666;
}
.mid2 .p3{
	width: 505px;
	height: 18px;
	margin-top: 15px;
	margin-left: 7px;
}
.mid2 .i3{
	display: inline-block;
	background: url(./images/111.png) -18px 0px; no-repeat;
	width: 12px;
	height: 19px;
}
.mid2 .i4{
	display: inline-block;
	background: url(./images/111.png) -18px -23px; no-repeat;
	width: 12px;
	height: 20px;
	margin-left: 130px;
}
.mid3{
	width: 411px;
	height: 211px;
	background: url(./images/112.png) no-repeat;
	position: absolute;
	left: 597px;
	top: 394px;
}
.footer{
	width: 1600px;
	height: 60px;
	background-color: #f4f4f4;
	line-height: 60px;
}
.footer .a1{
	font-size: 10px;
	color: #666666;
	margin-left: 228px;
}
.footer .a2{
	font-size: 10px;
	color: #666666;
	margin-left: 50px;
}
.footer .s1{
	font-size: 10px;
	color: #666666;
	margin-left: 106px;
}