*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Microsoft Yahei"
}
.all{
	width: 1600px;
	height: 1232px;

}
.top {
	width: 1600px;
	height: 34px;
	background-color: #262626;
}
.top .s1{
	font-size: 15px;
	color: #ffffff;
	line-height: 34px;
	margin-left: 150px;
}
.top .a1{
	font-size: 11px;
	color: #ffffff;
	line-height: 34px;
	margin-left: 113px;
}
.top .a2{
	font-size: 11px;
	color: #ffffff;
	line-height: 34px;
	margin-left: 63px;
}
.top img{
	width: 18px;
	height: 18px;
	margin-left: 50px;

}
.mid{
	width: 1600px;
	height: 710px;
	position: relative;
	border-bottom: 1px #e5e5e6 solid;
}
.mid1{
	background: url(./images/333.png) no-repeat;
	width: 1196px;
	height: 710px;
	position: absolute;
	left: 404px;
	top: 0;
}
.mid2{
	background: url(./images/113.png) no-repeat;
	width: 169px;
	height: 329px;
	position: absolute;
	left: 225px;
	top: 180px;
}
.mid3{
	background: url(./images/114.png) no-repeat;
	width: 134px;
	height: 283px;
	position: absolute;
	left: 441px;
	top: 218px;
}
.mid4{
	background: url(./images/121.png) no-repeat;
	width: 62px;
	height: 214px;
	position: absolute;
	left: 617px;
	top: 290px;
}
.mid5{
	background: url(./images/111.png) no-repeat;
	width: 592px;
	height: 440px;
	position: absolute;
	left: 753px;
	top: 178px;
}
.mid6{
	background: url(./images/115.png) 0 0 no-repeat;
	width: 9px;
	height: 9px;
	position: absolute;
	left: 773px;
	top: 665px;
}
.mid7{
	background: url(./images/115.png) -9px 0 no-repeat;
	width: 9px;
	height: 9px;
	position: absolute;
	left: 785px;
	top: 665px;
}
.mid8{
	background: url(./images/115.png) -9px 0 no-repeat;
	width: 9px;
	height: 9px;
	position: absolute;
	left: 797px;
	top: 665px;
}
.footer{
	width: 1600px;
	height: 492px;
}
.footer1{
	width: 1600px;
	height: 36px;
	background-color: #f7f7f7;
}
.footer1 .i1{
    display: inline-block;
    background: url(./images/117.png) 0 -14px no-repeat;
    width: 12px;
    height: 15px;
    margin-left: 142px;
}
.footer1 .i2{
    display: inline-block;
    background: url(./images/117.png) -14px 0 no-repeat;
    width: 13px;
    height: 12px;
    margin-left: 142px;
}
.footer1 .i3{
    display: inline-block;
    background: url(./images/117.png) 0 0 no-repeat;
    width: 13px;
    height: 12px;
    margin-left: 142px;
}
.footer1 .i4{
    display: inline-block;
    background: url(./images/117.png) -14px -16px  no-repeat;
    width: 13px;
    height: 13px;
    margin-left: 142px;
}
.footer1 .s2{
	font-size: 15px;
	color: #666666;
	margin-left: 230px;
	line-height: 36px;
}
.footer1 .s3{
	font-size: 10px;
	color: #666666;
}
.footer2{
	width: 1600px;
	height: 400px;
}
.footer24{
	width: 222px;
	height: 150px;
	position: relative;
	left: 232px;
	top: 39px;
}
.footer21{
	width: 222px;
	height: 150px;
	background: url(./images/118.png) -8px 0 no-repeat;
	position: absolute;
	z-index: 1;
}
.footer22{
	width: 222px;
	height: 150px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footer23{
	width: 105px;
	height: 55px;
	background-color: #ff48ce;
	position: absolute;
	 left: 56px;
	 top: 53px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footer24:hover .footer22{
   display: block;
}
.footer24:hover .footer23{
	display: block;
}
.footer34{
	width: 222px;
	height: 150px;
	position: relative;
	left: 232px;
	top: 58px;
}
.footer31{
	width: 222px;
	height: 150px;
	background: url(./images/118.png) -262px 0 no-repeat;
	position: absolute;
	z-index: 1;
}
.footer32{
	width: 222px;
	height: 150px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footer33{
	width: 105px;
	height: 55px;
	background-color: #ff48ce;
	position: absolute;
	 left: 56px;
	 top: 53px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footer34:hover .footer32{
   display: block;
}
.footer34:hover .footer33{
	display: block;
}
.footer44{
	width: 223px;
	height: 325px;
	position: relative;
	left:463px;
	top: -261px;
	background-color: #ffdbd1;
	
}
.footer41{
	width: 160px;
	height: 212px;
	background: url(./images/118.png) -490px 0 no-repeat;
	position: absolute;
	top: 50px;
	left: 35px;
	z-index: 1;
}
.footer42{
	width: 222px;
	height: 325px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footer43{
	width: 105px;
	height: 55px;
	background-color: #ff48ce;
	position: absolute;
	 left: 56px;
	 top: 130px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footer44:hover .footer42{
   display: block;
}
.footer44:hover .footer43{
	display: block;
}
.footer5{
	 width: 84px;
	 height: 84px;
	 background-color: #ffdbd1;
	 position: relative;
     top: -587px;
     left: 695px;

}
.footer6{
	width: 164px;
	height: 84px;
	position: relative;
	left:790px;
	top: -671px;
	background-color: #ffdbd1;
	
}
.footer61{
	width: 100px;
	height: 70px;
	background: url(./images/118.png) -8px -245px; no-repeat;
	position: absolute;
	top: 10px;
	left: 35px;
	z-index: 1;
}
.footer62{
	width: 164px;
	height: 82px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footer63{
	width: 85px;
	height: 35px;
	background-color: #ff48ce;
	position: absolute;
	 left: 46px;
	 top: 25px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footer6:hover .footer62{
   display: block;
}
.footer6:hover .footer63{
	display: block;
}
.footer74{
	width: 217px;
	height: 150px;
	background-color: #c3e1fe;
	position: relative;
	left: 695px;
	top: -660px;
}
.footer71{
	width: 200px;
	height: 150px;
	background: url(./images/118.png) -7px -347px no-repeat;
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 1;
}
.footer72{
	width: 210px;
	height: 150px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footer73{
	width: 105px;
	height: 55px;
	background-color: #ff48ce;
	position: absolute;
	 left: 56px;
	 top: 53px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footer74:hover .footer72{
   display: block;
}
.footer74:hover .footer73{
	display: block;
}
.footer8{
	width: 142px;
	height: 69px;
	position: relative;
	left:695px;
	top: -649px;
	background-color: #dcdcdc;
	
}
.footer81{
	width: 118px;
	height: 62px;
	background: url(./images/118.png) -139px -247px; no-repeat;
	position: absolute;
	
	left: 10px;
	z-index: 1;
}
.footer82{
	width: 142px;
	height: 69px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footer83{
	width: 85px;
	height: 35px;
	background-color: #ff48ce;
	position: absolute;
	 left: 26px;
	 top: 15px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footer8:hover .footer82{
   display: block;
}
.footer8:hover .footer83{
	display: block;
}
.footer9{
	 width: 70px;
	 height: 69px;
	 background-color: #dcdcdc;
	 position: relative;
     top: -718px;
     left: 842px;

}
.footera{
	width: 223px;
	height: 232px;
	position: relative;
	left:921px;
	top: -952px;
	background-color: #ffdbd1;
	
}
.footera1{
	width: 223px;
	height: 232px;
	background: url(./images/118.png) -654px 0 no-repeat;
	position: absolute;
	z-index: 1;
}
.footera2{
	width: 223px;
	height: 232px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footera3{
	width: 105px;
	height: 55px;
	background-color: #ff48ce;
	position: absolute;
	 left: 56px;
	 top: 100px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footera:hover .footera2{
   display: block;
}
.footera:hover .footera3{
	display: block;
}
.footerb{
	width: 179px;
	height: 84px;
	position: relative;
	left:965px;
	top: -1275px;
	background-color: #ffdbd1;
	
}
.footerb1{
	width: 85px;
	height: 84px;
	background: url(./images/118.png) -206px -337px; no-repeat;
	position: absolute;
	left: 45px;
	z-index: 1;
}
.footerb2{
	width: 179px;
	height: 82px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footerb3{
	width: 85px;
	height: 35px;
	background-color: #ff48ce;
	position: absolute;
	 left: 46px;
	 top: 25px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footerb:hover .footerb2{
   display: block;
}
.footerb:hover .footerb3{
	display: block;
}
.footerc{
	width: 222px;
	height: 170px;
	position: relative;
	background-color: #f8cce9;
	left: 1155px;
	top: -1359px;
}
.footerc1{
	width: 147px;
	height: 174px;
	background: url(./images/118.png) -339px -298px no-repeat;
	position: absolute;
	left: 30px;
	z-index: 1;
}
.footerc2{
	width: 222px;
	height: 180px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footerc3{
	width: 105px;
	height: 55px;
	background-color: #ff48ce;
	position: absolute;
	 left: 56px;
	 top: 63px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footerc:hover .footerc2{
   display: block;
}
.footerc:hover .footerc3{
	display: block;
}
.footerd{
	width: 222px;
	height: 148px;
	position: relative;
	background-color: #ebecec;
	left: 1155px;
	top: -1354px;
}
.footerd1{
	width: 77px;
	height: 140px;
	background: url(./images/118.png) -559px -310px no-repeat;
	position: absolute;
	top: 10px;
	left: 70px;
	z-index: 1;
}
.footerd2{
	width: 222px;
	height: 148px;
	background-color: black;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
}
.footerd3{
	width: 105px;
	height: 55px;
	background-color: #ff48ce;
	position: absolute;
	 left: 56px;
	 top: 63px;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	display: none;

}
.footerd:hover .footerd2{
   display: block;
}
.footerd:hover .footerd3{
	display: block;
}
.footere{
	width: 1600px;
	height: 60px;
	background-color: #f4f4f4;
	line-height: 60px;
}
.footere .a1{
	font-size: 10px;
	color: #666666;
	margin-left: 228px;
}
.footere .a2{
	font-size: 10px;
	color: #666666;
	margin-left: 50px;
}
.footere .s1{
	font-size: 10px;
	color: #666666;
	margin-left: 106px;
}