*{
	margin: 0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
.clear:after{
	content: "";
	clear: both;
	display: block;
}
.all{
	width: 1920px;
    height: 2350px;
    font-family: "Microsoft Yahei"
}
.top{
	width: 1920px;
	height:203px;
	background:url(./images/xw2.png) no-repeat;
	position: relative;
}
.logo{
	width: 199px;
	height: 48px;
	background:url(./images/logo.png) no-repeat;
	position: absolute;
	left:274px;
	top: 53px;
}
.top1{
	font-size: 18px;
	width: 611px;
	height: 24px;
	border-bottom: 3px #67615f solid;
	position: absolute;
	left: 963px;
	top: 71px;
}
.top1 a{
	color: #231815;
	font-weight: bold;
	font-family: "Microsoft Yahei"
}
.top11:hover{
	border-bottom: 4px #c90714 solid;
}
.top12:hover{
	border-bottom: 4px #c90714 solid;
}
.top11{
	margin-left: 25px;
}
.top3{
	width: 1920px;
	height:60px;
	background-color: #838485;
	position: absolute;
	top: 140px;
	opacity: 0.5;
}
.top2{
	height: 19px;
	width: 160px;
	font-size: 14px;
	position: absolute;
	top: 160px;
	left: 300px;
}
.top2 a,span{
	color: #f4f4f4;
	font-weight: bold;

}
.mid{
	width: 1920px;
	height: 1990px;
	border-bottom: 1px #dad7d7 solid;
}
.p1{
	text-align: center;
	font-size: 24px;
	margin-top: 50px;
	font-weight: bold;
	color: #434343;
}
.p2{
	margin-top: 25px;
	margin-left: 710px;
	font-size: 14px;
	color: #c9c9c9;
}
.p3{
	margin-top: 57px;
	margin-left: 342px;
	font-size: 14px;
	color: #9b9b9b;
}
.mid1{
	width: 312px;
	height: 394px;
	background:url(./images/11.png) no-repeat;
	margin-left: 806px;
	margin-top: 32px;
}
.mid2{
	width: 642px;
	height: 404px;
	background: url(./images/12.png) no-repeat;
	margin-top: 40px;
	margin-left: 686px;
}
.p4{
	margin-top: 57px;
	margin-left: 342px;
	font-size: 14px;
	color: #202020;
	font-weight: bold;
}
.p5{
	margin-top: 26px;
	margin-left: 342px;
	font-size: 14px;
	color: #9b9b9b;

}
.p6{
	margin-top: 50px;
	color: #9b9b9b;
	font-size: 12px;
	margin-left: 342px;
}
.p7{
	margin-top: 10px;
	color: #9b9b9b;
	font-size: 12px;
	margin-left: 342px;
}
.p6 a{
    font-size: 12px;
    color:  #9b9b9b;
}

.p7 a{
    font-size: 12px;
    color:  #9b9b9b;
    }
.mid3{
	width: 548px;
	height: 282px;
	background: url(./images/13.png) no-repeat;
	margin-top: 40px;
	margin-left: 685px;
}
.foot{
	height: 164px;
	width: 1920px;
}
.footleft{
	float: left;
	width: 242px;
	height: 55px;
	border-right: 3px  #c2191f solid;
	margin-top: 55px;
	margin-left: 350px;
}	
.footleft1{
 background:url(./images/logo.png) no-repeat;
 width: 200px;
 height: 55px;

}
.footcenter{
	float: left;
	width: 545px;
	height: 74px;
	text-align: right;
	margin-top: 60px;
	margin-left: 321px;
	color: #767475;
	font-family: "Microsoft Yahei"
}
.footcenter a{
	color: #767475;
	font-family: "Microsoft Yahei"
}
.footright{
	float: left;
	width: 69px;
	height: 69px;
	background:url(./images/二维码.png) no-repeat;
	margin-top: 55px;
    margin-left: 10px;
}